<ion-view> 
	<ion-header-bar class="bar-positive">
		<button class="button icon ion-checkmark-round" ng-click="insertGrowth()"></button>
		<h1 class="title icon ion-fork"></h1>
		<button class="button icon ion-ios-list-outline" ng-click="selectGrowth()"></button>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">Weight</span>
				<input type="text" placeholder="lbs" ng-model="weightLbs" ng-change="changeGrowthWL(weightLbs)">
			</label>
			<label class="item item-input">
				<span class="input-label">Height</span>
				<input type="text" placeholder="ft" ng-model="heightFt" ng-change="changeGrowthHF(heightFt)">
			</label>
			<label class="item item-input">
				<span class="input-label">Head Size</span>
				<input type="text" placeholder="in" ng-model="headSize" ng-change="changeGrowthHS(headSize)">
			</label>
		</div>	

		<formly-form model="formData" fields="formFields" form="mainInputForm">
		</formly-form>

		<script type="text/ng-template" id="inputDatePicker.html"> 
		  <ion-item class="item-icon-right">
		    <i ng-click="to.onclick()" 
		       class="icon ion-ios-calendar-outline"></i>
		    {{ model[options.key] | date : to.dateFormat }}
		  </ion-item>
		</script>

		<script type="text/ng-template" id="templates/modalRecord.html">
	      <ion-modal-view>
	        <ion-header-bar class="bar bar-header bar-positive">
	          <h1 class="title">Past Record</h1>
	          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
	        </ion-header-bar>
	        <ion-content class="padding">
	          {{result}}
	        </ion-content>
	      </ion-modal-view>
    	</script>
	</ion-content>

</ion-view>